<div class="container">
<h1>Posts</h1>
<div ng-controller="postsCtrl as posts">
<!--  Post Form -->
<form name="newPostForm" ng-submit="posts.create_post()">

  <!--  Post Form -->
  <h4>Submit a Post</h4>
  <fieldset class="form-group">
    <input ng-model="posts.new_post.title" type="test" class="form-control" placeholder="Hello World!" title="Title" />
  </fieldset>
  <fieldset class="form-group">
    <textarea ng-model="posts.new_post.content" class="form-control" placeholder="Your text here..." title="Content"></textarea>
  </fieldset>
  <fieldset class="form-group">
    <input type="submit" class="btn btn-primary pull-right" value="Submit Post" />
  </fieldset>

  <!--  Live Preview -->
  <blockquote >
    <strong>{{posts.new_post.title}}</strong>
    {{posts.new_post.content}}
  </blockquote>
</form>

<div ng-repeat="post in posts.post_list" >
{{post._id}} | {{post.title}} | {{post.content}} 
</div>
<%=render 'post_form' %>
<script>
</script>
<ul>
  <% for post in @posts %>
  <li id="post_<%= post.id %>"><%= post.title %>
    | <%= link_to 'Edit', edit_post_path(post) %>
    | <%= link_to 'Delete', post, :method => 'delete' %>
  </li>
  <% end %>
</ul>
</div>
